<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <!-- bootstrap -->
    <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- my stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- typefaces -->
    <link href="https://fonts.googleapis.com/css?family=Ribeye+Marrow" rel="stylesheet">
  </head>
  <body>

    <header>
      <h1> Garden Box </h1>
      <nav>
        <a href="/gardens"> Walk in the Gardens </a>
        <br />
        <a href="/plants"> See the Plants</a>
        <br />
        <a id="openModal" href="#"> About this App </a>
      </nav>

      <div id="modal">
        <h1> About this App </h1>
        <p> Use this app to build gardens complete with images of the flowers. You can use the Plot a Garden link and the Find a Plant link to create gardens and put plants in them. Want to change a garden or plant, use the alter links to do so. Overtime the plants will wilt, 
      </div>

    </header>

    <main id="mainhome">
      <!-- put in some grass -->
      <div id="mainimage">
        <img id="dandelion" src="/assets/dandelion.gif">
      </div>
    </main>

  </body>
</html>
