<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <!-- bootstrap -->
    <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- my stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/modals.css">
    <!-- typefaces -->
    <link href="https://fonts.googleapis.com/css?family=Ribeye+Marrow" rel="stylesheet">
  </head>
  <body>

    <div id="modal">
      <div id="modal-text">
        <h1> About this App </h1>
        <br />
        <p> Use this app to build "gardens" that have names and other information. You can use the <span>"Plot a Garden"</span> link and the <span>"Plant Something"</span> link to create gardens and put plants in them respectively. Want to change a garden or plant? Use the <span>"Alter" or "Change"</span> links to do so. Want to remove a plant? Click the <span>"Pull it Up"</span> button. Don't like a garden? Select <span>"Mow it Down"</span> to remove it.
        <br />
        Overtime the plants will wilt, and become more transparent. You can water them with the water button to return them to normal.
        <br />
        If you are interested in learning more about the plant depicted in the image please click the <span>"Learn More"</span> link in the upper right of the plants' page. This link allows you to look at information from the United States Department of Agriculture.
        </p>
        <br/>
        <a id="closeModal" href="#"> Close </a>
      </div>
    </div>

    <header>
      <h1> Garden Box </h1>
      <nav>
        <a href="/gardens"> Walk in the Gardens </a>
        <br />
        <a href="/plants"> See the Plants</a>
        <br />
        <a id="openModal" href="#"> About this App </a>
      </nav>
    </header>



    <main id="mainhome">
      <!-- put in some grass -->
      <div id="mainimage">
        <img id="dandelion" src="/assets/dandelion.gif">
      </div>
    </main>

    <!-- js and jquery links -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="/js/app.js"></script>

  </body>
</html>
