<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>

    <header>
      <h1> Garden Box </h1>
      <nav>
        <a href="/gardens"> Go for a walk in the Gardens </a>
        <br />
        <a href="/plants"> Learn about the Plants</a>
      </nav>
    </header>

  </body>
</html>
