body {
  padding: 1em;
}

header {
  font-family: 'Ribeye Marrow', cursive;
}

main {
  align-content: bottom;
}

.plants {
  display: flex;
  flex-direction: row;
  margin: 1em auto;
  width: fit-content;
}

.plant {
  display: inline-block;
}

img {
  width: 50%;
}
