body {
  padding: 1em;
}

/*containns h1 and nav*/
header {
  font-family: 'Ribeye Marrow', cursive;
}

h1 {
  font-family: 'Ribeye Marrow', cursive;
  font-size: 60px;
}

nav a {
  color: #2DB455;
  opacity: 80%;
}

nav a:hover {
  color: #3E6B4C;
}

/*contains the information and images*/
main {
  align-content: bottom;
}

/*edit and delete buttons*/
.edit, .edit a, .delete {
  font-family: 'Ribeye Marrow', cursive;
  color: #2DB455;
  opacity: 80%;
}
/*hove change for edit*/
.edit a:hover {
  color: #3E6B4C;
}
/*hover change for delete*/
.delete:hover {
  color: #3E6B4C;
}

/*form styling*/
input {
  border-radius: 5px;
  background-color: white;
  border-color: #C5Df71;
}

/*more form styling*/
option, textarea {
  border-radius: 5px;
  background-color: white;
  border-color: #C5Df71;
}

/*garden name links*/
.garden {
  color: #463926;
  opacity: 60%;
  font-weight: bold;
}

.garden:hover {
  color: #C5Df71;
}

ul {
  padding-top: 1em;
}
/*li styling */
.lister {
  display: flex;
  flex-flow: row wrap;
  border-radius: 5px;
  font-size: 28px;
}

/*styling to have two columns, one with info one with the picture on the show plant page*/
.two {
  display: flex;
  flex-flow: row;
  height: 60%;
  padding-right: 3em;
}

/*plant div for image on show plant page*/
.oneplant {
  width: 200%;
  padding-left: 10em;
  padding-top: 3em;
}

/*div that contains multiple plant images*/
.plants-wrap {
  display: flex;
  flex-direction: row wrap;
  padding-top: 3em;
  /*margin: 1em auto;*/
  /*width: fit-content;*/
  justify-content: space-between;
  width: 100%;
}

/*the individual plant div that holds the plant picture, rests inside the plant wrap div*/
.plant {
  display: flex;
  flex-flow: row wrap;
  align-content: bottom;
  align-items: bottom;
  position: bottom;
  justify-content: space-between;
}

img {
  width: 50%;
}

/*main area on home page*/
#mainhome {
  display: flex;
  padding: 2em;
  position: bottom;
}

/*image div in main area*/
#mainimage {
  padding-left: 60%;
  padding-right: 2em;
  width: fit-content;
}

/*specifically the image on the home page*/
#dandelion {
  width: 120%;
}

/*modal situation on home page*/
#modal {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#modal-text {
  background-color: white;
  height: 450px;
  width: 350px;
  border-radius: 5px;
  margin: 150px auto;
  box-shadow: 0 3px 3px #C5Df71;
  padding: 2px;
}


/*creating a shake effect on the plants in the garden show page and on the plant index page*/

/*looked at code from http://www.cssreflex.com/snippets/css-button-with-wiggle-effect/*/

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.shake:hover {
  animation: shake 0.75s infinite;
}

/*media queries*/
