<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gardens</title>
  </head>
  <body>

    <header>
      <h1> Peruse the Gardens</h1>
      <nav>
        <a href="/">Home</a>
        <br />
        <a href="/gardens/new"> Plot a Garden </a>
        <br />
        <a href="/plants"> Plant Varieties </a>
      </nav>
    </header>

    <main>
      <ul>
        <% for (var i =0; i < gardens.length; i++) {%>
          <li>
            <a href="/gardens/<%=gardens[i]._id%>"><%=gardens[i].name%></a>
          </li>
        <%}%>
      </ul>
    </main>

  </body>
</html>
