<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Plot a Garden</title>
    <!-- bootstrap -->
    <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- my stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- typefaces -->
    <link href="https://fonts.googleapis.com/css?family=Ribeye+Marrow" rel="stylesheet">
  </head>
  <body>

    <header>
      <h1> Start Your Garden </h1>
      <nav>
        <a href="/"> Home </a>
        <br />
        <a href="/gardens"> Go Back </a>
      </nav>
    </header>

    <main>
      <form action="/gardens" method="POST">
        <label>Garden Name:</label> <input type="text" name="name" placeholder="name your garden" />
        <br />
        <label>Garden Style:</label> <input type="text" name="style" placeholder="examples: sunny, faerie, mystic, haunted" />
        <br />
        <label>Description:</label>
        <!-- make this a textbox -->
        <textarea type="text" name="description" rows="5" cols="50" placeholder="tell us about your garden"> </textarea>
        <br />
        <input type="submit" value="Prepare the Soil" />
      </form>
    </main>

  </body>
</html>
