<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Plant Something</title>
    <!-- bootstrap -->
    <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- my stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- typefaces -->
    <link href="https://fonts.googleapis.com/css?family=Ribeye+Marrow" rel="stylesheet">
  </head>
  <body>

    <header>
      <h1> Put a Plant in the Ground!</h1>
      <nav>
        <a href="/"> Home </a>
        <br />
        <a href="/plants"> Go Back </a>
      </nav>
    </header>

    <main>
      <form action="/plants" method="POST">
        <label>Garden:</label> <select name="garden">
          <% for (var i = 0; i < gardens.length; i++) {%>
            <option value="<%=gardens[i].name%>"><%=gardens[i].name%>
            </option>
          <%}%>
        </select>
        <br />
        <label> Name: </label> <input type="text" name="name" />
        <br />
        <label> Flower: </label>
        <select name="img">
          <option value="/assets/blackeyed_susan.gif">black eyed susan</option>
          <option value="/assets/crimson_poppy.gif"> red poppy</option>
          <option value="/assets/orange_poppy.gif"> orange poppy </option>
          <option value="/assets/daffodil.gif"> daffodil </option>
          <option value="/assets/forget_me_knots.gif"> forget me nots </option>
          <option value="/assets/lavender.gif"> lavender </option>
          <option value="/assets/pansy.gif"> pansy </option>
          <option value="/assets/morning_glory.gif"> morning glory </option>
          <option value="/assets/lily_of_the_valley.gif"> lily of the valley</option>
          <option value="/assets/pink_rununculus.gif"> pink rununculus </option>
          <option value="/assets/purple_rununculus.gif"> purple rununculus</option>
          <option value="/assets/red_rununculus.gif"> red rununculus </option>
          <option value="/assets/pink_tulip.gif"> pink tulip </option>
          <option value="/assets/red_tulip.gif"> red tulip </option>
          <option value="/assets/yellow_tulip.gif"> yellow tulip </option>
        </select>
        <br />
        <label>Likes:</label> <textarea type="text" name="likes" rows="1" cols="60" placeholder="examples: sun, juice, moss"> </textarea>
        <br />
        <label>Description:</label>
        <!-- make this a textbox -->
        <textarea type="text" name="description" rows="5" cols="50" placeholder="tell us about your plant">  </textarea>
        <br />
        <!-- make this a checkbox? -->
        <label>Type: </label>
        <input type="text" name="type" placeholder="perrenial or annual?" />
        <input type="submit" value="Put it in the Ground!" />
      </form>
    </main>

  </body>
</html>
